@import 'tailwindcss/base';

@import 'tailwindcss/components';

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

body,
html {
  font-family: 'Manrope', sans-serif;
  font-weight: normal;
  font-size: 2.315vw;
  background-color: var(--bg-color);
  background-image: var(--bg-image);
  background-position: center top;
  background-size: cover;
}

.feather-icon {
  width: 14px;
  height: 14px;
  fill: none;
  stroke: currentColor;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.fade-enter {
  opacity: 0;
  z-index: 1;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 250ms ease-in;
}

button:focus {
  outline: none;
}

.canvas {
  width: 6.24rem;
  height: 6.24rem;
  margin-top: 1.08rem;

  canvas {
    width: 100% !important;
    height: 100% !important;
  }
}

* {
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

.text-primary {
  color: var(--button-bg-color);
}

.text-secondary {
  color: var(--button-text-color);
}

.border-primary {
  border-color: var(--button-bg-color);
}

.btn-border {
  border-color: var(--button-border-color);
}

.bg-primary {
  background-color: var(--button-bg-color);
}

@import 'tailwindcss/utilities';
