.box {
  @apply bg-gray-400 h-64 w-64 transform absolute opacity-75 cursor-pointer transition-all duration-100;
  --transform-skew-y: -50deg;
  --transform-skew-x: 35deg;
  --transform-rotate: 104deg;

  &:first-child {
    @apply opacity-100;
  }

  &:hover {
    z-index: 10;
  }
}

.levels {
  @apply bg-purple-800 duration-300 h-20 items-start p-4 transition-all border-b;

  .level-details {
    @apply duration-500 opacity-0 transition-all;
  }

  .levels-image {
    @apply duration-300 h-48 opacity-0 transform transition-all  -translate-y-12 translate-x-8 relative z-10;
  }

  &.active,
  &:hover {
    @apply h-32;

    .level-details {
      @apply opacity-100;
    }
    & > div .levels-floor {
      display: none;
    }

    & > div .levels-image {
      @apply opacity-100 translate-y-0;
    }
  }

  .levels-floor {
    @apply absolute bg-white transform origin-bottom-right opacity-75;
    --transform-skew-y: 0deg;
    --transform-skew-x: -32deg;
    --transform-rotate: 45deg;
    width: 8rem;
    height: 8rem;
  }
}
