$image-height: 28rem;

.levels {
  @apply duration-200 items-start p-4 transition-all cursor-pointer ease-linear;
  height: 7rem;

  .level-title {
    @apply font-bold text-3xl duration-300 transition-all ease-linear;
    color: #ffffffbf;
  }

  .level-availability {
    color: #ffffffbf;
  }

  .level-details {
    @apply duration-200 opacity-0 transition-all;
  }

  .level-popup {
    @apply absolute bg-white flex flex-col px-6 py-3 rounded-lg shadow-2xl text-lg z-10 hidden;
    right: calc(50% - 50px);
  }

  .level-images-container {
    position: absolute;
    right: -240px;
    top: -35px;
  }

  .levels-floor {
    @apply absolute transform origin-bottom-right;
    height: $image-height;
    top: -26px;
  }

  .levels-image {
    @apply duration-200 opacity-0 transform transition-all  -translate-y-12 translate-x-8 relative z-10;
    height: $image-height;
  }

  &.active {
    @apply opacity-100;
    background: #ffffff2e;
    height: 11rem;

    .level-title {
      @apply text-4xl text-white;
    }

    .level-availability {
      display: none;
    }

    .level-details {
      @apply opacity-100;
    }

    .level-popup {
      display: flex;
    }

    .level-popup:after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 80%;
      width: 0;
      height: 0;
      border: 10px solid transparent;
      border-top-color: #fff;
      border-bottom: 0;
      margin-left: -10px;
      margin-bottom: -10px;
    }

    & > div .levels-floor {
      display: none;
    }

    & > div .levels-image {
      @apply opacity-100 translate-y-0;
    }
  }
}
