#level-details-container {
  height: 23.6rem;
  padding: 1.96rem 2.12rem;
}

#carousel {
  img {
    height: 9.92rem;
    margin-right: 0.68rem;
  }
}

#floor-wrapper {
  margin-top: 1.712rem;

  .selection {
    border: 0.12rem solid transparent;
  }

  .selection.border-primary {
    border: 0.12rem solid var(--button-bg-color);
  }
}

.image-mapper {
  position: relative;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.image-mapper-img {
  width: 100%;
  max-height: 100%;
}

.image-mapper-svg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

#image-map-wrapper {
  text-align: center;
  width: 35.76rem;
  margin: 0 auto;
}

#image-map-container {
  display: inline-block;
  padding: 2px;
  border-radius: 3px;
  width: 100%;
}

#image-map {
  display: inline-block;
  width: 100%;
}

.image-mapper-shape {
  @apply transition-all duration-300;
  fill: #ebffec;
  stroke: rgb(196, 235, 188);
  stroke-width: 2;
  cursor: pointer;
}

.image-mapper-shape.active,
.image-mapper-shape.active:hover {
  fill: #fdf5f5;
  stroke: #fde8e8;
}

.standing-desks .image-mapper-shape:not(.active):not(.standing-chair) {
  fill: #f8fff8 !important;
  stroke: #e2f5de;
  cursor: default;
}

.standard-desks .image-mapper-shape:not(.active):not(.standard) {
  fill: #f8fff8 !important;
  stroke: #e2f5de;
  cursor: default;
}

#image-map-wrapper .image-mapper-shape.reserve {
  fill: #f8cf58 !important;
  stroke: #eddc9a;
}
