$image-height: 38rem;

.levels {
  @apply duration-200 items-start p-4 transition-all cursor-pointer ease-linear;
  height: 7rem;

  .level-title {
    @apply font-bold text-3xl duration-300 transition-all ease-linear;
    color: #ffffffbf;
  }

  .level-availability {
    color: #ffffffbf;
  }

  .level-details {
    @apply duration-200 opacity-0 transition-all;
  }

  .level-popup {
    @apply absolute bg-white flex flex-col px-6 py-3 rounded-lg shadow-2xl text-lg z-10 hidden;
    right: 45%;
  }

  .triangle-right {
    width: 0;
    height: 0;
    border-top: 4.9rem solid transparent;
    border-left: 7.5rem solid rgba(255, 255, 255, 0.18);
    border-bottom: 4rem solid transparent;
    position: absolute;
    left: 5.5%;
    top: 12.1%;
    opacity: 1;
  }

  .level-images-container {
    position: absolute;
    right: -40%;
    top: -66%;
  }

  .levels-floor {
    @apply absolute transform origin-bottom-right;
    height: $image-height;
    top: -20px;
    left: -1.2rem;
  }

  .levels-image {
    @apply duration-200 opacity-0 transform transition-all  -translate-y-12 translate-x-8 relative z-10;
    height: $image-height;
  }

  &.active {
    @apply opacity-100;
    background: #ffffff2e;
    height: 11rem;

    .level-title {
      @apply text-4xl text-white;
    }

    .triangle-right {
      display: none;
    }

    .level-availability {
      display: none;
    }

    .level-details {
      @apply opacity-100 z-20;
    }

    .level-popup {
      display: flex;
    }

    .level-popup:after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 80%;
      width: 0;
      height: 0;
      border: 1rem solid transparent;
      border-top-color: #fff;
      border-bottom: 0;
      margin-left: -1rem;
      margin-bottom: -1rem;
    }

    & > div .levels-floor {
      display: none;
    }

    & > div .levels-image {
      @apply opacity-100 translate-y-0;
    }
  }
}
