body,
html {
  font-family: "Quicksand", sans-serif;
  font-weight: normal;
  font-size: 14px;
  background-color: #efefef;
}

.feather-icon {
  width: 14px;
  height: 14px;
  fill: none;
  stroke: currentColor;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.btn {
  @apply font-semibold px-4 py-2 rounded tracking-wide text-sm transition-all duration-200;
}

.nav-list {
  @apply flex px-4 text-sm font-medium leading-5 text-gray-600 transition duration-150 ease-in-out h-full items-center outline-none uppercase;

  &:hover,
  &:focus {
    @apply bg-gray-300 text-purple-600;
  }

  &.active,
  &.active:focus {
    @apply bg-gray-300 text-purple-600;
  }
}

.mobile-nav-list {
  @apply mt-1 block px-3 py-2 rounded-md text-base font-medium text-gray-600 outline-none transition duration-150 ease-in-out uppercase;

  &:hover,
  &:focus {
    @apply text-white bg-purple-500;
  }

  &.active,
  &.active:focus {
    @apply bg-purple-700 text-white;
  }
}
